#home_container {
    max-width: 100%;
    width: 100%;
    display: flexbox;
    margin: 0px;
    z-index: -10;
    top:0;
}

#home_about {
    background: url('../../Media/flower.jpg') center center/cover 
    no-repeat;
    /* background: gray; */
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.home_content {
    width: 100%;
    text-align: left;
    padding: 100px 0px 40px 0px;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.home_content:nth-of-type(2n+1) {
    background-color: #f8971f;
    color: white;
}

.home_content:nth-of-type(2n) {
    background-color: white;
    color: #333f48;
}

.home_content > h1 {
    font-size: 48px;
    margin: -50px 100px 0px 100px;
}

.home_content > h1:nth-child(1) {
    text-align: center;
}

.home_content > p {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_content > div {
    margin: 0px 100px;
}

.home_content:nth-child(1) {
    padding-bottom: 0px;
}





/* TABLE CSS */
#tableContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0px auto;
}

#tableContainer > h4 {
    text-align: center;
    margin: 0px auto;
}

#homeCheckout {
    margin: 5px auto 0px auto;
}

#checkout {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    background-color: #f8971f;
    color: white;
    padding: 10px;
    font-size: 2vw;
    margin: 0px auto;
    cursor: pointer;
}

#checkout:hover {
    background-color: #bf5700;
    transition: 0.2s;
}


/* Team Information */
#profile-container {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 0px auto;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 25px auto;
}

.profile-pic {
    width: 60px;
    height: 60px;
    background-color: white;
    margin: auto 0px;
    border-radius: 50%;
    background-image: url("../../Media/user.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
}

.profile-pic:nth-child(odd) {
    margin-right: 10px;
}

.profile-pic:nth-child(even) {
    margin-left: 10px;
}

.profile-desc {
    font-size: 20px;
    margin: auto 0px;
}

.profile-desc:nth-child(odd) {
    margin-right: 20px;
}

.profile-desc:nth-child(even) {
    margin-left: 20px;
}

.profile-linked {
    z-index: 10;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.profile-linked:hover {
    background-image: url("../../Media/linkedin.svg") ;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.75);
}