#home_container {
    max-width: 100%;
    width: 100%;
    display: flexbox;
    margin: 0px;
    z-index: -10;
    top:0;
}

.home_content {
    width: 100%;
    text-align: left;
    padding: 100px 0px 40px 0px;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.home_content:nth-of-type(2n+1) {
    background-color: #f8971f;
    color: white;
}

.home_content:nth-of-type(2n) {
    background-color: white;
    color: #333f48;
}

.home_content > h1 {
    font-size: 48px;
    margin: -50px 100px 0px 100px;
}
#smaller_h1{
    font-size: 38px;
    text-align: center;
}
.home_content > h2{
    text-align: center;
}

.home_content > h1:nth-child(1) {
    text-align: center;
}

.home_content > p {
    font-size: 24px;
    margin: 0px 100px;
}

.home_content > div {
    margin: 0px 100px;
}

.home_content:nth-child(1) {
    padding-bottom: 0px;
}

/* TIMELINE CSS */
#timeline {
    display: flex;
    flex-direction: column;
}

#timeNodes {
    margin: 25px auto;
    width: fit-content;
    height: 4vw;
    display: flex;
}

.time_node, .time_edge {
    flex-direction: row;
    background-color: #536775;
}

.time_node {
    text-align: center;
    font-size: 1vw;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    cursor: pointer;
}

.time_node > p {
    margin: 1.5vw auto;
}

.time_edge {
    margin: 0px;
    width: 4vw;
    height: 5px;
    margin: auto 0px;
}

#time_desc {
    font-style: italic;
    font-size: 24px;
    height: 50px;
    text-align: center;
}

.time_node:nth-child(n):hover {
    background-color: #333f48;
}

/* TABLE CSS */
#tableContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0px auto;
}

#tableContainer > h4 {
    text-align: center;
    margin: 0px auto;
}

#homeCheckout {
    margin: 5px auto 0px auto;
}

#checkout {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    background-color: #f8971f;
    color: white;
    padding: 10px;
    font-size: 2vw;
    margin: 0px auto;
    cursor: pointer;
}

#checkout:hover {
    background-color: #bf5700;
    transition: 0.2s;
}


/* Team Information */
#profile-container {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 0px auto;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 25px auto;
}

.profile-pic {
    width: 60px;
    height: 60px;
    background-color: white;
    margin: auto 0px;
    border-radius: 50%;
    background-image: url("../../Media/user.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
}

.profile-pic:nth-child(odd) {
    margin-right: 10px;
}

.profile-pic:nth-child(even) {
    margin-left: 10px;
}

.profile-desc {
    font-size: 20px;
    margin: auto 0px;
}

.profile-desc:nth-child(odd) {
    margin-right: 20px;
}

.profile-desc:nth-child(even) {
    margin-left: 20px;
}

.profile-linked {
    z-index: 10;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}

.profile-linked:hover {
    background-image: url("../../Media/linkedin.svg") ;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.75);
}
table {
    clear: both;
    margin: 20px auto;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    
}

th {
    background-color: #f8971f;
    color: white;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

td {
    text-align: left;
    vertical-align: top;
    background-color: white;
    color: #333f48;
}

tr {
    background-color: white;
}

.table_data {
    text-indent: 10%;
}
#table_subtitle{
    font-size: 14px;
    text-align: center;
}
