/** Colors:
*   Orange:   #ff9300
*   Dark Grey: #333f48
**/
header {
    position: sticky;
    top:0;
    z-index: 10;
    background-color: #ffffff;
    color: #333f48;
    display: inline-flex;
    width: 100%;
    margin: 0;
    height: 8vh;
    clear: both;
    border-bottom: 1px solid #333f48;
    box-sizing: border-box;
} 

.headerLink {
    margin: auto 0px;
    height: fit-content;
    color: #333f48;
    text-decoration: none;
}

.headerLink:nth-child(1) {
    display: inline-flex;
}

#header_icon {
    width: fit-content;
    height: fit-content;
    margin: auto 30px;
    float: left;
}

#homeLogo, h1 {
    margin: auto 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: auto;
}

#homeLogo {
    width: 36px;
    height: 36px;
    background-image: url('../Media/website_logo.svg');
    background-color: #ffffff;
    background-size: 36px 36px;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: inline-flex;
    justify-content: right;
    width: fit-content;
    margin: auto 20px auto auto;
    float: left;
}

nav > .headerLink {
    margin: auto 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: auto;
    font-size: larger;
}

nav > .headerLink:hover {
    color: #f8971f;
}

/** User Menu */

#displayButton {
    display: block;
    margin: auto 20px;
}

#hideButton {
    display: none;
}

#menuClose, #menuOpen {
    width: 32px;
    height: 32px;
    margin: auto 20px;
    border: none;
    outline: none;
    background-color: #ffffff;
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    padding: none;
    cursor: pointer;
}

#menuClose {
    background-image: url('../Media/menu.svg');
    transition: 0.2s;
}

#menuClose:hover {
    background-image: url('../Media/menu_hover.svg');
}

#menuOpen {
    background-image: url('../Media/close.svg');
    transition: 0.2s;
}

#menuOpen:hover {
    background-image: url('../Media/close_hover.svg');
}

#MenuDivOpen {
    position: fixed;
    z-index: 5;
    top:8vh;
    right: 0;
}